<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col">
        <h1 m-5>Holding History</h1>
        <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Company</th>
      <th scope="col">Holding Start Date</th>
      <th scope="col">Holding End Date</th>
      <th scope="col">Quantity</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="(item, index) in holdingHistory" :key="index" >
      <th scope="row">{{index}}</th>
      <td>{{item.comapany}}</td>
      <td >{{formatDate(item.startDate) }}</td>
      <td>{{formatDate(item.endDate)}}</td>
      <td>{{item.quantity}}</td>
    </tr>
  
  </tbody>
</table>
      </div>
    </div>
  </div>
</template>

<script>
import authMixin from "../mixins/authMixin";
import axios from "axios";
import moment from 'moment'


export default {
  name: "dashboard",
  mixins: [authMixin],
  components: {
    
  },
  data() {
      return {
          holdingHistory: []
      }
  },
  methods: {
      formatDate(date) {
          return moment(date).format('MMMM Do YYYY, h:mm:ss a');
      }
  },
  mounted() {
    var token = authMixin.methods.getToken();
    axios
      .get("/api/dashboard", {
        headers: {
          Authorization: "Bearer " + token.raw
        }
      })
      .then(response => response.data)
      .then(data => this.holdingHistory = data.filter(h => h.quantity > 0))
      .catch(() => {
       console.log("Error getting holding history")
      });
  }
};
</script>