<template>
  <div class="container">

    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
    <h1><b>Portfolio Management Demo</b></h1>
    <h3>ASP.NET Core | Entitiy Framework | Vue</h3>
    </div>
    </div>
     <div class="row justify-content-center">
    <div class="col">
           <router-link class="btn btn-outline-success animated heartBeat infinite my-3" to="/login">Login</router-link>
    </div>
  </div>
    
    <div class="row">
     
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="image-1">
    <img alt="logo" src="../assets/logo.svg" class="img-fluid mx-auto" />
    </div>

    </div>
   
  </div>

 
   
  </div>
</template>

<script>
import axios from "axios"
export default {
  name: "home",
  components: {
  },

  data() {
    return {
      values: null
    }
  },

  mounted() {
     axios.get("/api/values")
    .then(response => this.values = response.data);
  },
};
</script>

<style>
.image-1, .image-1 > img{
    max-height: 50vh;
}


.image-1 > img {
max-width: 100%;
height: auto;
width: 100%;
object-fit:fill;
}

</style>
