<template>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-6">
        <div
          class="spinner-border text-success"
          role="status"
          style="width: 7rem; height: 7rem;"
          v-if="loggingIn"
        >
          <span class="sr-only"></span>
        </div>
        <h2 v-if="loggingIn">Logging In</h2>
        <div class="animated fadeInDown" v-if="!loggingIn">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Login</h5>
              <form>
                <div class="form-group">
                  <input type="text" class="form-control" v-model="name" placeholder="name">
                </div>
                <div class="form-group">
                  <input
                    type="password"
                    class="form-control"
                    v-model="password"
                    placeholder="password"
                  >
                </div>
                <div v-if="errors.length" style="color:red">
                  <b>Please correct the following error(s):</b>
                  <ul>
                    <li v-for="(error, index) in errors" :key="index">{{ error }}</li>
                  </ul>
                </div>

                <div v-if="error" style="color:red">
                  <b>Error Logging In</b>
                </div>

                <button type="submit" class="btn btn-success" @click="login">Log In</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import router from "../router";

export default {
  name: "login",
  components: {},

  data() {
    return {
      name: "",
      password: "",
      loggingIn: false,
      errors: [],
      error: false
    };
  },

  methods: {
    login: function() {
      this.checkForm();
      if (this.errors.length == 0) {
        this.loggingIn = true;
        axios
          .post("/api/login", {
            name: this.name,
            password: this.password
          })
          .then(response => response.data)
          .then(data => localStorage.setItem("token", data.token))
          .then(() => router.push({ name: "dashboard" }))
          .catch(() => {
            this.loggingIn = false;
            this.error = true;
          });
      }
    },
    checkForm: function() {
      if (
        this.name &&
        this.name.length > 3 &&
        this.password &&
        this.password.length > 7
      ) {
        return true;
      }

      this.errors = [];

      if (!this.name) {
        this.errors.push("Name required.");
      }
      if (this.name && this.name.length < 3) {
        this.errors.push("Name length must be greater than equal to 3.");
      }
      if (!this.password) {
        this.errors.push("password required.");
      }
      if (this.password && this.password.length < 8) {
        this.errors.push("password length not met.");
      }
    }
  },
  mounted() {}
};
</script>