<template>
<div>
  <b-navbar style="background-color: #28a745 !important;" toggleable="lg" type="dark" variant="info">
    <b-navbar-brand href="#">Portfolio Management</b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
        <b-nav-item to="/">Home</b-nav-item>
        <b-nav-item to="login">Login</b-nav-item>
        <b-nav-item to="dashboard">dashboard</b-nav-item>

      </b-navbar-nav>

      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</div>
</template>